---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import HeroPreescolar from '../../components/programas/preescolar/HeroPreescolar.astro';
import NEM from '../../components/programas/preescolar/NEM.astro';
import Campos from '../../components/programas/preescolar/Campos.astro';
import ProgramasPreescolar from '../../components/programas/preescolar/ProgramasPreescolar.astro';
import Metodologia from '../../components/programas/preescolar/Metodologia.astro';
import Tecnologia from '../../components/programas/preescolar/Tecnologia.astro';
import MuchoMasPreescolar from '../../components/programas/preescolar/MuchoMasPreescolar.astro';
import Perfiles from '../../components/programas/preescolar/Perfiles.astro';
import OtrosProgramas from '../../components/programas/preescolar/OtrosProgramas.astro';
import VideoleccionesPreescolar from '../../components/programas/preescolar/VideoleccionesPreescolar.astro';
import Casos from '../../components/programas/preescolar/Casos.astro';
import Faq from '../../components/programas/preescolar/Faq.astro';
import Footer from '../../components/Footer.astro';
---

<Layout
  title="Preescolar - Luca Programas"
  description="Programa Preescolar Luca: aprendizaje activo, juego, movimiento y primeras habilidades con materiales y tecnología alineados a la NEM y buenas prácticas internacionales."
>
  <Header />
  <main>
    <HeroPreescolar />
    <ProgramasPreescolar />
    <VideoleccionesPreescolar />
    <Metodologia />
    <Tecnologia />
    <MuchoMasPreescolar />
    <Perfiles />
    <OtrosProgramas />
    <Faq />
  </main>
  <Footer />
</Layout>
