---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import HeroPrimaria from '../../components/programas/primaria/HeroPrimaria.astro';
import NEM from '../../components/programas/primaria/NEM.astro';
import Campos from '../../components/programas/primaria/Campos.astro';
import ProgramasPrimaria from '../../components/programas/primaria/ProgramasPrimaria.astro';
import Metodologia from '../../components/programas/primaria/Metodologia.astro';
import Tecnologia from '../../components/programas/primaria/Tecnologia.astro';
import Perfiles from '../../components/programas/primaria/Perfiles.astro';
import OtrosProgramas from '../../components/programas/primaria/OtrosProgramas.astro';
import VideoleccionesPrimaria from '../../components/programas/primaria/VideoleccionesPrimaria.astro';
import Casos from '../../components/programas/primaria/Casos.astro';
import Faq from '../../components/programas/primaria/Faq.astro';
import Footer from '../../components/Footer.astro';
---

<Layout
  title="Primaria - Luca Programas"
  description="Programa Primaria Luca: matemáticas, lenguaje, ciencias e inglés con metodologías como Singapur y TPRS, evaluación formativa y recursos digitales para el aula."
>
  <Header />
  <main>
    <HeroPrimaria />
    <NEM />
    <Campos />
    <ProgramasPrimaria />
    <Metodologia />
    <Tecnologia />
    <VideoleccionesPrimaria />
    <Perfiles />
    <OtrosProgramas />
    <Faq />
  </main>
  <Footer />
</Layout>
