---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import HeroSecundaria from '../../components/programas/secundaria/HeroSecundaria.astro';
import NEM from '../../components/programas/secundaria/NEM.astro';
import Campos from '../../components/programas/secundaria/Campos.astro';
import ProgramasSecundaria from '../../components/programas/secundaria/ProgramasSecundaria.astro';
import Metodologia from '../../components/programas/secundaria/Metodologia.astro';
import Tecnologia from '../../components/programas/secundaria/Tecnologia.astro';
import Perfiles from '../../components/programas/secundaria/Perfiles.astro';
import OtrosProgramas from '../../components/programas/secundaria/OtrosProgramas.astro';
import VideoleccionesSecundaria from '../../components/programas/secundaria/VideoleccionesSecundaria.astro';
import Casos from '../../components/programas/secundaria/Casos.astro';
import Faq from '../../components/programas/secundaria/Faq.astro';
import Footer from '../../components/Footer.astro';
---

<Layout
  title="Secundaria - Luca Programas"
  description="Programa Secundaria Luca: materias clave del plan de estudios, pensamiento crítico, proyectos y preparación académica con contenidos y herramientas digitales integradas."
>
  <Header />
  <main>
    <HeroSecundaria />
    <NEM />
    <Campos />
    <ProgramasSecundaria />
    <Metodologia />
    <Tecnologia />
    <VideoleccionesSecundaria />
    <Perfiles />
    <OtrosProgramas />
    <Faq />
  </main>
  <Footer />
</Layout>
