---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BlogHero from '../components/blog/BlogHero.astro';
import BlogToolbar from '../components/blog/BlogToolbar.astro';
import BlogGrid from '../components/blog/BlogGrid.astro';
import { getAllPosts, getCategoryList } from '../lib/blog';

const posts = getAllPosts();
const categories = getCategoryList();
---

<Layout
  title="Blog - Luca"
  description="Ideas que transforman la educación. Artículos, recursos y contenido para el aula desde Luca: innovación pedagógica y herramientas para docentes e instituciones."
  canonicalPath="/blog/"
>
  <Header />
  <main>
    <BlogHero />
    <BlogToolbar categories={categories} />
    <BlogGrid posts={posts} />
  </main>
  <Footer />
</Layout>
